# Normalize line endings of all files that Git considers to be text
* text eol=lf
#except images and sounds
*.png -text
*.gif -text
*.jpg -text
*.icns -text
*.wav -text
*.au -text
*.ico -text
# and weird stuff in lib-src
*.ttl text=auto
*.aps text=auto
*.trig text=auto

# Mark third-party libraries as generated to hide them from GitHub stats
au3/lib-src/** linguist-generated
muse_framework/** linguist-generated

